* {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
body {
    background: rgba(227, 183, 175, 0.683);
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100vh;           
    margin: 0;          
}
#continuer {
    width: 1400px;
    height: 650px;
    background-color: rgba(245, 241, 241, 0.866);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    border-radius: 20px;   
    box-shadow: rgb(154, 149, 149) 10px 20px 40px;
}
#incontinent {
    width: 300px;
    height: 100%; 
    margin-right: 100px;
    transition: flex-grow 1s;
    display: flex;
    background-color: rgb(255, 0, 0);
    justify-content: left; 
    align-items: flex-start;
    border-top-left-radius : 20px;
    border-bottom-left-radius: 20px;
}
#incontinent a {
    text-decoration: none;
    font-weight: bold;
    display: flex;
    text-align: left;
    margin-bottom: 20px;   
    margin-left: 5px; 
    color :white;
}
#incontinent:hover{
    flex-grow:1;
}
#image-container {
    padding-bottom: 120px;
    display: block;
    flex-direction: column;
    margin-right: 420px;
}
img{
    flex-direction: column;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}
h3{
    padding-bottom: 0;
    margin: 0;
    color: rgb(255, 0, 0);
}
p{
    color :rgb(105, 14, 14)
}
button{
    font-size: 15px;
    color: white;
    background: red;
    border-color: red;
    width: 80px;
    height: 40px;
    border-radius: 10px;
}
